{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_tags %}

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

        </ul>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->

        <!-- / end div .search-bar -->
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="notfound">
          <h1 class="big-title">صفحه مورد نظر پیدا نشد خطا 404</h1>
          <h4 class="small-title">صفحه ای که دنبال آن هستید دیگر وجود ندارد.<br>
        شاید شما می توانید به صفحه اصلی سایت بازگردید و ببینید آیا می توانید آنچه را دنبال می کنید پیدا کنید.</h4>

        </div>
        <!-- end message -->
      </div>
      <!-- end content -->
    </div>
    <!-- end container -->
  </section>
  <!-- end section -->

{% endblock %}