{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="section1">
        <div class="container">
            <h4> <a href="#"> درباره ما  </a> </h4>
            <p class="author_box" style="line-height: 3em">
                 آموزش اصول فرزند پروری صحیح بسیار مهم و ارزشمند هستند چرا که بسیاری از اختلالات روانپزشکی، مشکلات در روابط بین فردی و حتی اعتیاد، ناشی از فرزندپروری نادرست است که با دادن دانش و مهارت لازم در این زمینه و آموزش مهارتها به والدین میتوان از این معضلات پیشگیری کرد و میتوان گفت این امر مهمترین اصل در زمینه پیشگیری است. اهمیت مباحث تربیت و پرورش کودکان سبب گردیده که به جای دریافت مطالب از هم گسیخته و ناهماهنگ در جستجوهای اینترنتی و یا انتقال مفاهیم نادرست از دیگران بتوان با یک رویه علمی بین المللی به این مهم دست یافت؛ بدین سبب پس از دو سال تحقیقات در این زمینه پلتفرم هوشمند و آنلاین آموزش، تمرین، اجرا و مشاوره والدین جهت مباحث فرزندپروری در تاریخ 25/4/1397 با شماره اظهارنامه 139750140003003408 ثبت اختراع و توسط مرکز رشد دانشگاه علوم پزشکی پذیرش گردیده است. این پروژه در حال حاضر با نام شخصیت حقوقی شرکت توسعه فناوری اطلاعات هومهر به شماره ثبت 66807 فعالیت می نماید.



            </p>
        </div>
    </section>


{% endblock %}