{% extends 'base.html' %}
{% load static %}
{% block content %}

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h4 class="title">حل تمرین {{ obj_exercise.exercise_name }} </h4>
           <p class="fa-text-width">متن تمرین {{ obj_exercise.exercise_text }} </p>

          <div id="message"></div>
           {% if answer == None %}
          <form role="form" id="form_create_answer" method="POST" action="#">
          {% else %}
           <form role="form" id="form_update_answer"  method="POST" action="#">
           {% endif %}
                 {%  csrf_token %}
            <input type="hidden" id="hidden_id_exercise_answer_html" value="{{ obj_exercise.id }}">
            <input type="hidden" id="hidden_file_number_answer_html" value="{{ obj_file_number.file_number }}">
            <div class="form-group">
                <textarea  id="textarea_answer_exer" name="Answer" class="form-control" placeholder="حل تمرین در اینجا وارد شود" data-msg="لطفا متن حل تمرین وارد شود" ></textarea>

            </div>

            <div class="form-send">
              <button type="submit" class="btn btn-large btn-primary">
                        ارسال تمرین
              </button>
            </div>

          </form>
            <div class="validate" id="result_answer_exer"></div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="title">حل تمرینات </span></h4>
          <ul class="contact_details">
              <li><strong class="fa fa-address-book-o">حل مسئله</strong><p class="text" id="Answer">{{ answer.Answer }}</p></li>
              {% if answer %}
                  <input type="hidden" id="hidden_answer_id_answer_html" value="{{ answer.id }}"/>
              {% endif %}

          </ul>
          <!-- contact_details -->
        </div>



      <!-- end content -->
    </div>
    <!-- end container -->
  </section>

  <!-- end section -->
{% endblock %}

