{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_tags %}

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="col-lg-6 col-md-6 col-sm-6" style="float: right">
        {% if request.user|has_group:"Psychology" %}

          <h4 class="title">یادداشت جدید برای پرونده {{ file_number_obj.file_number }}   </h4>


          <div id="message"></div>


          <form role="form" id="form_create_noting_file_number" method="POST" action="#">

                 {%  csrf_token %}
            <input type="hidden" id="hidden_id_file_number_noting_file_number" value="{{file_number_obj.file_number}}">



            <div class="form-group">
                <label>یادداشت</label> <textarea  id="txt_noting_file_number_form" name="txt" min="10" class="form-control" placeholder="یادداشت "  required></textarea>
                <div class="validate"></div>
            </div>

            <div class="form-send">
              <button type="submit" class="btn btn-large btn-primary">
                      ایجاد یادداشت جدید
              </button>
            </div>
            <div class="loading"></div>
            <div class="error-message"></div>
            <div class="sent-message" id="result_create_agenda_file_number"><a href="#"></a> </div>
          </form>{% endif %}
            <div class="validate" id="result_noting_file_number"></div>
        </div>

                <div class="">


                  <table class="table table-striped " >

                            <thead>
                                <tr>
                                    <td>یادداشت </td>

                                </tr>
                            </thead>
                          <tbody id="list_noting_file_number_tbody">
                              {% for note  in notting_fileNumber_obj  %}
                                    <tr>
                                        <td>{{ note.txt }}</td>

                                    </tr>
                              {% endfor %}
                           </tbody>
                    </table>




                  <!-- contact_details -->
                </div>



      <!-- end content -->
    </div>
    <!-- end container -->
  </section>

  <!-- end section -->
{% endblock %}

